.banner{
    padding: 164px 0 100px;
    .container{
        .title{
            text-align: center;
            
        }
    }
}

.companies{
    background: #161616;
    padding: 100px 0 ;
    border-bottom: 1px solid #f5f5f5;
    .company{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid #70FF00;
        border-radius: 5px;
        margin: 0 0 40px;
        padding: 15px;
        &:last-child{
            margin: 0;
        }
        .experience-detail{
            .company-name, .position, .time-period, .detailed{
                color: #F2F2F2;
                .title{
                    font-size: 18px;
                }
            }
        }
    }
}
@media only screen and (max-width: 1024px){
    .companies {
        padding: 50px 0;
    }
}
@media only screen and (max-width: 768px){
    .companies {
        padding: 50px 0;
    }
}